/* --- SERIF --- */

@font-face {
    font-family: 'Noto Serif';
    src: url('../public/fonts/NotoSerif-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Serif';
    src: url('../public/fonts/NotoSerif-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}


/* Zilla Slab is a static font, so we define each style separately. */
@font-face {
    font-family: 'Zilla Slab';
    src: url('../public/fonts/ZillaSlab-Regular.ttf') format('truetype');
    font-weight: normal; /* or 400 */
    font-style: normal;
}
@font-face {
    font-family: 'Zilla Slab';
    src: url('../public/fonts/ZillaSlab-Italic.ttf') format('truetype');
    font-weight: normal; /* or 400 */
    font-style: italic;
}
@font-face {
    font-family: 'Zilla Slab';
    src: url('../public/fonts/ZillaSlab-Bold.ttf') format('truetype');
    font-weight: bold; /* or 700 */
    font-style: normal;
}
@font-face {
    font-family: 'Zilla Slab';
    src: url('../public/fonts/ZillaSlab-BoldItalic.ttf') format('truetype');
    font-weight: bold; /* or 700 */
    font-style: italic;
}


/* Roboto Serif is a variable font. */
@font-face {
    font-family: 'Roboto Serif';
    src: url('../public/fonts/RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

/* Literata is a variable font. */
@font-face {
    font-family: 'Literata';
    src: url('../public/fonts/Literata-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 200 900;
    font-style: normal;
}

/* --- SANS SERIF --- */

/* Barlow is a static font. */
@font-face {
    font-family: 'Barlow';
    src: url('../public/fonts/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow';
    src: url('../public/fonts/Barlow-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Barlow';
    src: url('../public/fonts/Barlow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow';
    src: url('../public/fonts/Barlow-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


/* Exo 2 is a variable font. */
@font-face {
    font-family: 'Exo 2';
    src: url('../public/fonts/Exo2-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

/* Atkinson Hyperlegible is a static font. */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('../public/fonts/AtkinsonHyperlegible-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('../public/fonts/AtkinsonHyperlegible-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('../public/fonts/AtkinsonHyperlegible-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('../public/fonts/AtkinsonHyperlegible-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


/* --- MONOSPACE --- */

/* iA Writer Duospace is a static font. */
@font-face {
    font-family: 'iA Writer Duospace';
    src: url('../public/fonts/iAWriterDuoS-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iA Writer Duospace';
    src: url('../public/fonts/iAWriterDuoS-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'iA Writer Duospace';
    src: url('../public/fonts/iAWriterDuoS-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'iA Writer Duospace';
    src: url('../public/fonts/iAWriterDuoS-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


/* Recursive is a variable font. */
@font-face {
    font-family: 'Recursive';
    src: url('../public/fonts/Recursive-VariableFont_CASL,CRSV,MONO,slnt,wght.ttf') format('truetype');
    font-weight: 300 1000;
    font-style: normal;
}

/* Courier Prime is a static font. */
@font-face {
    font-family: 'Courier Prime';
    src: url('../public/fonts/CourierPrime-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Courier Prime';
    src: url('../public/fonts/CourierPrime-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Courier Prime';
    src: url('../public/fonts/CourierPrime-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Courier Prime';
    src: url('../public/fonts/CourierPrime-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
